[Unit]
Description=Trace Main* process

[Service]
Type=simple
User=root
ExecStart=/bin/sh /home/root/topLogGW.sh
Restart=always
RestartSec=1s


[Install]
WantedBy=multi-user.target